.board {
  border: 2px solid black;
  width: 600px;
  height: 600px;
  background-color: rgb(138, 11, 49);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  justify-self: center;
}
.pixel {
  background-color: rgb(51, 15, 160);
}
